//////  OPACITY  //////

.op-0 {
    opacity: 0;
}
.op-1 {
    opacity: 1;
}

//////  WIDTH  //////

.ow1 {
    width: 1rem;
}

.ow1_25 {
    width: 1.25rem;
}

.ow1_5 {
    width: 1.5rem;
}

.ow1_75 {
    width: 1.75rem;
}
.ow2 {
    width: 2rem;
}
.ow2_25 {
    width: 2.25rem;
}
.ow2_5 {
    width: 2.5rem;
}

.ow3 {
    width: 3rem;
}
.ow3_5 {
    width: 3.5rem;
}
.ow4 {
    width: 4rem;
}
.ow5 {
    width: 5rem;
}
.ow6 {
    width: 6rem;
}
.ow7 {
    width: 7rem;
}
.ow8 {
    width: 8rem;
}
.ow9 {
    width: 9rem;
}
.ow10 {
    width: 10rem;
}
.ow11 {
    width: 11rem;
}
.ow12 {
    width: 12rem;
}
.ow13 {
    width: 13rem;
}
.ow14 {
    width: 14rem;
}
.ow15 {
    width: 15rem;
}

//////  HEIGHT  //////
.oh1 {
    height: 1rem;
}

.oh1_25 {
    height: 1.25rem;
}

.oh1_5 {
    height: 1.5rem;
}

.oh1_75 {
    height: 1.75rem;
}
.oh2 {
    height: 2rem;
}
.oh2_25 {
    height: 2.25rem;
}
.oh2_5 {
    height: 2.5rem;
}

.oh3 {
    height: 3rem;
}
.oh3_5 {
    height: 3.5rem;
}
.oh4 {
    height: 4rem;
}
.oh5 {
    height: 5rem;
}
.oh6 {
    height: 6rem;
}
.oh7 {
    height: 7rem;
}
.oh8 {
    height: 8rem;
}
.oh9 {
    height: 9rem;
}

////////  COLOR CLASS  ////////

.colorPrim {
    color: $color-primary;
}

.colorSec {
    color: $color-secondary;
}

.colorTer {
    color: $color-tertiary;
}

.colorWht {
    color: $color-white;
}
.colorNav {
    color: $color-dark;
}

////////  COLOR BACK  ////////
.backPrim {
    background-color: $color-primary;
}

.backSec {
    background-color: $color-secondary;
}

.backTer {
    background-color: $color-tertiary;
}

.backWht {
    background-color: $color-white;
}
.backNav {
    background-color: $color-dark;
}

////////  BUTTON HOVER  ////////

.hoverButtonL {
    // animation: buttonHovL;
    // animation-duration: 0.8s;
    // animation-timing-function: cubic-bezier(0.31, 0.76, 0.6, 0.98);
    transform: translate(-5%, -30%) rotate(-3deg);
}
.hoverButtonR {
    // animation: buttonHovR;
    // animation-duration: 0.8s;
    // animation-timing-function: cubic-bezier(0.31, 0.76, 0.6, 0.98);
    transform: translate(5%, -30%) rotate(3deg);
}

///////  BORDER RADIUS ///////

.br100 {
    border-radius: 100px;
}

.br50pc {
    border-radius: 50%;
}
