html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #333a4b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  html,
  body {
    font-size: 50%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.preLoad {
  transition: all 0.5s;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.op-0 {
  opacity: 0;
}

.op-1 {
  opacity: 1;
}

.ow1 {
  width: 1rem;
}

.ow1_25 {
  width: 1.25rem;
}

.ow1_5 {
  width: 1.5rem;
}

.ow1_75 {
  width: 1.75rem;
}

.ow2 {
  width: 2rem;
}

.ow2_25 {
  width: 2.25rem;
}

.ow2_5 {
  width: 2.5rem;
}

.ow3 {
  width: 3rem;
}

.ow3_5 {
  width: 3.5rem;
}

.ow4 {
  width: 4rem;
}

.ow5 {
  width: 5rem;
}

.ow6 {
  width: 6rem;
}

.ow7 {
  width: 7rem;
}

.ow8 {
  width: 8rem;
}

.ow9 {
  width: 9rem;
}

.ow10 {
  width: 10rem;
}

.ow11 {
  width: 11rem;
}

.ow12 {
  width: 12rem;
}

.ow13 {
  width: 13rem;
}

.ow14 {
  width: 14rem;
}

.ow15 {
  width: 15rem;
}

.oh1 {
  height: 1rem;
}

.oh1_25 {
  height: 1.25rem;
}

.oh1_5 {
  height: 1.5rem;
}

.oh1_75 {
  height: 1.75rem;
}

.oh2 {
  height: 2rem;
}

.oh2_25 {
  height: 2.25rem;
}

.oh2_5 {
  height: 2.5rem;
}

.oh3 {
  height: 3rem;
}

.oh3_5 {
  height: 3.5rem;
}

.oh4 {
  height: 4rem;
}

.oh5 {
  height: 5rem;
}

.oh6 {
  height: 6rem;
}

.oh7 {
  height: 7rem;
}

.oh8 {
  height: 8rem;
}

.oh9 {
  height: 9rem;
}

.colorPrim {
  color: #1e1e1e;
}

.colorSec {
  color: #e6e6e6;
}

.colorTer {
  color: #aeaeae;
}

.colorWht {
  color: #fff;
}

.colorNav {
  color: #555352;
}

.backPrim {
  background-color: #1e1e1e;
}

.backSec {
  background-color: #e6e6e6;
}

.backTer {
  background-color: #aeaeae;
}

.backWht {
  background-color: #fff;
}

.backNav {
  background-color: #555352;
}

.hoverButtonL {
  transform: translate(-5%, -30%) rotate(-3deg);
}

.hoverButtonR {
  transform: translate(5%, -30%) rotate(3deg);
}

.br100 {
  border-radius: 100px;
}

.br50pc {
  border-radius: 50%;
}

/*  FONTS   */
.up {
  text-transform: uppercase;
}

.it {
  font-style: italic;
}

.l {
  font-size: larger;
}

/*////////////////////*/
.para {
  font-size: 1.6rem;
}

.h6 {
  font-size: 2rem;
}

.h5 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 3.125rem;
}

.h2 {
  font-size: 3.9rem;
}

.rem1 {
  font-size: 1rem;
}

.rem1_25 {
  font-size: 1.25rem;
}

.rem1_5 {
  font-size: 1.5rem;
}

.rem1_75 {
  font-size: 1.75rem;
}

.rem2 {
  font-size: 2rem;
}

.rem2_25 {
  font-size: 2.25rem;
}

.rem2_5 {
  font-size: 2.5rem;
}

.rem3 {
  font-size: 3rem;
}

.rem3_5 {
  font-size: 3.5rem;
}

.rem4 {
  font-size: 4rem;
}

.rem5 {
  font-size: 5rem;
}

.rem6 {
  font-size: 6rem;
}

.rem7 {
  font-size: 7rem;
}

.rem8 {
  font-size: 8rem;
}

.rem9 {
  font-size: 9rem;
}

/*/ ///////////////////*/
.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

/*//////   LETTER SPACE /////*/
.letS1 {
  letter-spacing: 1px;
}

.letS2 {
  letter-spacing: 2px;
}

.letS3 {
  letter-spacing: 3px;
}

.letS4 {
  letter-spacing: 4px;
}

.skewL {
  transform: skew(12deg);
}

.skewR {
  transform: skew(-12deg);
}

.about {
  height: 89rem;
  width: 75rem;
}
@media screen and (max-width: 800px) {
  .about {
    width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    width: 40rem;
  }
}
.about__section {
  grid-column: 3/11;
  grid-row: 4/5;
  padding: 8rem;
}
@media screen and (max-width: 930px) {
  .about__section {
    grid-column: 2/12;
  }
}
@media screen and (max-width: 730px) {
  .about__section {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 630px) {
  .about__section {
    padding: 8rem 0 0 0;
  }
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8rem;
  z-index: 3;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  background-color: rgba(51, 58, 75, 0.5);
}
@media only screen and (max-width: 75em) {
  .about__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .about__container {
    padding: 8rem 2rem 2rem 2rem;
  }
}
.about__content {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 400;
}
.about__content-container {
  width: 78%;
  text-align: center;
}

.contactForm__section {
  grid-column: 3/11;
  grid-row: 4/5;
  padding: 8rem;
}
@media screen and (max-width: 700px) {
  .contactForm__section {
    width: 100vw;
  }
}
.contactForm__section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8rem;
  z-index: 3;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  background-color: rgba(51, 58, 75, 0.5);
}
@media screen and (max-width: 650px) {
  .contactForm__section-inner {
    padding: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .contactForm__section-inner {
    padding-top: 8rem;
  }
}
.contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.contactForm ::placeholder {
  color: #cdcdcd;
  caret-color: #fff;
  padding-left: 5px;
}
.contactForm input {
  height: 3rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.contactForm textarea {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.contactForm__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 4rem;
}
.contactForm__button {
  width: 12rem;
  height: 4rem;
  border-radius: 1000px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.contactForm__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.heroServices {
  width: 100%;
  height: 100vh;
}
.heroServices__container-outer {
  width: 100%;
  height: 100%;
}
.heroServices__socials-bar {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
  height: 3.5rem;
  background-color: #000;
}
.heroServices__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3.5rem repeat(3, 1fr);
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  color: #fff;
}
.heroServices__background {
  grid-row: 2/-1;
  grid-column: 1/-1;
  width: 102%;
}
.heroServices__img {
  width: 100%;
  height: 105%;
  object-fit: cover;
}
.heroServices__text-block {
  grid-column: 5/9;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  transform: translateY(12rem);
}
.heroServices__intro {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}
.heroServices__intro-text {
  margin: 0 10px;
  text-align: center;
}
.heroServices__heading {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
}
.heroServices__subHeading {
  grid-column: 1/-1;
  grid-row: 3/4;
  font-size: 1.6rem;
}
.heroServices__nav-section {
  grid-column: 4/10;
  grid-row: 2/3;
  width: 100%;
  display: flex;
  margin-top: 10rem;
  z-index: 2;
}
.heroServices__nav-container {
  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  width: 100%;
  height: max-content;
}

.heroHome {
  width: 100%;
  height: 50vh;
}
.heroHome__container-outer {
  width: 100%;
  height: 100%;
}
.heroHome__socials-bar {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #000;
}
.heroHome__socials-container {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  align-items: center;
}
.heroHome__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px repeat(3, 1fr);
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.heroHome__background {
  grid-row: 2/-1;
  grid-column: 1/-1;
  width: 102%;
  position: relative;
  overflow: hidden;
}
.heroHome__img {
  width: 100%;
  height: 105%;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  left: 0;
  top: -80px;
}
.heroHome__text-block {
  grid-column: 4/10;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 4;
}
.heroHome__intro {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  min-width: 15rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.heroHome__intro-text {
  margin: 0 10px;
}
.heroHome__heading {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .heroHome__heading {
    font-size: 5rem;
  }
}
.heroHome__subHeading {
  grid-column: 1/-1;
  grid-row: 3/4;
  font-size: 1.6rem;
}

.navList {
  display: flex;
  list-style: none;
  font-size: 14px;
  justify-content: space-around;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .navList {
    display: none;
  }
}
.navList-left {
  grid-column: 1/2;
}
.navList-right {
  grid-column: 3/4;
}

.nav__section {
  grid-column: 4/10;
  grid-row: 2/3;
  width: 100%;
  display: flex;
  z-index: 2;
  align-self: center;
}
@media screen and (max-width: 800px) {
  .nav__section {
    grid-column: 2/12;
  }
}

.nav__container {
  display: grid;
  grid-template-columns: 1fr 20rem 1fr;
  width: 100%;
  height: max-content;
}

.nav__logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .nav__logo-container {
    grid-column: 2/3;
  }
}

.nav__logo {
  width: 15rem;
}

.owl {
  width: 100%;
  margin-top: -5.5rem;
}
.owl__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 55.5rem;
  width: 100%;
}
.owl__label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #555352;
  color: #949494;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.owl__column {
  display: grid;
  grid-template-rows: 5.5rem 50rem;
}
.owl__bikeshop {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
}
.owl__bikeshop:hover .borderBottom {
  background-color: #fff;
}
.owl__bikeshop:hover .owl__text-center {
  transform: translate(-50%, -3.4rem);
}
.owl__bikeshop:hover .read-more {
  top: 80%;
  opacity: 1;
}
.owl__kit:hover .borderBottom {
  background-color: #fff;
}
.owl__kit:hover .owl__text-center {
  transform: translate(-50%, -3.4rem);
}
.owl__kit:hover .read-more {
  top: 80%;
  opacity: 1;
}
.owl__insta:hover .borderBottom {
  background-color: #fff;
}
.owl__insta:hover .owl__text-center {
  transform: translate(-50%, -3.4rem);
}
.owl__insta:hover .read-more {
  top: 80%;
  opacity: 1;
}
.owl__background {
  width: 100%;
  height: 100%;
  position: relative;
}
.owl__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.owl__kit {
  position: relative;
}
.owl__insta {
  position: relative;
}
.owl__text-center {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease-out;
}
.owl__title {
  font-size: 3.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.owl__subtitle {
  font-size: 2rem;
}

.borderBottom {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  transition: all 0.3s;
}

.read-more {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  width: 12rem;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.read-more-text {
  padding-top: 0.5rem;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60rem;
  padding: 6rem;
}
.test__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  text-transform: uppercase;
}
.test__heading-border {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin-top: 1rem;
}
.test__top-block {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 15rem;
  margin-top: 3rem;
}
.test__text-block {
  display: flex;
  margin-bottom: 8rem;
  font-size: 2.4rem;
}
@media screen and (max-width: 700px) {
  .test__text-block {
    width: 50rem;
  }
}
@media screen and (max-width: 400px) {
  .test__text-block {
    width: 35rem;
  }
}
.test__text-block span {
  text-transform: uppercase;
}
.test__who::after {
  content: ":";
}
.test__credit {
  font-size: 2rem;
  font-weight: 300;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  width: 80rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.media-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.media-element {
  display: grid;
  text-align: center;
}

.services {
  width: 100%;
  margin-top: -5.5rem;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5.5rem 50rem;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .services__grid {
    grid-template-columns: 1fr;
  }
}
.services__label {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #555352;
  color: #949494;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.services__column {
  display: grid;
  grid-template-rows: 50rem;
  position: relative;
}
.services__basic {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: relative;
}
.services__basic:hover .borderTop {
  background-color: #fff;
}
.services__basic:hover .services__text-center {
  transform: translate(-50%, -3.4rem);
}
.services__basic:hover .read-more {
  transform: translate(-50%, -150%);
  opacity: 1;
}
.services__inter:hover .borderTop {
  background-color: #fff;
}
.services__inter:hover .services__text-center {
  transform: translate(-50%, -3.4rem);
}
.services__inter:hover .read-more {
  transform: translate(-50%, -150%);
  opacity: 1;
}
.services__ext:hover .borderTop {
  background-color: #fff;
}
.services__ext:hover .services__text-center {
  transform: translate(-50%, -3.4rem);
}
.services__ext:hover .read-more {
  transform: translate(-50%, -150%);
  opacity: 1;
}
.services__background {
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  position: relative;
}
.services__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services__kit {
  position: relative;
}
.services__insta {
  position: relative;
}
.services__text-center {
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, 0);
  color: #fff;
  padding: 2rem;
  min-width: 26rem;
  height: 32rem;
  backdrop-filter: blur(8);
  background-color: rgba(44, 60, 100, 0.5);
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.services__title {
  font-size: 3.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}
.services__subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.services__list {
  font-size: 1.5rem;
}
.services__item {
  margin-bottom: 1rem;
}
.services__item-first2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  list-style: none;
}

.borderTop {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transition: all 0.3s;
  z-index: 5;
}

.read-more {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  width: 12rem;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.read-more-text {
  padding-top: 0.5rem;
}

.heroServices {
  width: 100%;
  height: max-content;
}
.heroServices__container-outer {
  width: 100%;
}
.heroServices__socials-bar {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
  height: 3.5rem;
  background-color: #000;
}
.heroServices__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3.5rem 8rem 20rem 1fr;
  justify-items: center;
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  color: #fff;
}
.heroServices__background {
  grid-row: 2/-1;
  grid-column: 1/-1;
  width: 102%;
}
.heroServices__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroServices__text-block {
  grid-column: 4/10;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  z-index: 4;
}
.heroServices__intro {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.heroServices__intro-text {
  margin: 0 10px;
}
.heroServices__heading {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .heroServices__heading {
    font-size: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .heroServices__heading {
    font-size: 4rem;
  }
}
.heroServices__subHeading {
  grid-column: 1/-1;
  grid-row: 3/4;
  font-size: 1.6rem;
}
.heroServices__nav-section {
  grid-column: 4/10;
  grid-row: 2/3;
  width: 100%;
  display: flex;
  z-index: 2;
  align-self: center;
}
.heroServices__nav-container {
  display: grid;
  grid-template-columns: 1fr 20rem 1fr;
  width: 100%;
  height: max-content;
}

.book__calender {
  height: 89rem;
  width: 75rem;
}
@media screen and (max-width: 800px) {
  .book__calender {
    width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .book__calender {
    width: 40rem;
  }
}
.book__calender-section {
  grid-column: 3/11;
  grid-row: 4/5;
  padding: 6rem;
}
.book__calender-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8rem;
  z-index: 3;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  background-color: rgba(51, 58, 75, 0.5);
}
@media only screen and (max-width: 75em) {
  .book__calender-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .book__calender-container {
    padding: 8rem 2rem 2rem 2rem;
  }
}

.back {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.back-arrow {
  transition: all 0.3s;
  align-self: center;
}
.back-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  border: 2px solid #fff;
}

.back-box {
  position: absolute;
  left: 5%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  height: 8rem;
}
@media screen and (max-width: 500px) {
  .back-box {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.back-box:hover .back-arrow {
  transform: translateX(-5px);
}

.footer {
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 50rem 1fr;
  grid-template-rows: 1fr;
  column-gap: 8 rem;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.footer__column {
  padding: 4rem;
  text-align: center;
}
.footer__column-heading {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer__list {
  list-style: none;
  font-size: 1.4rem;
  color: #949494;
}
.footer__list li {
  padding: 0.6rem 0;
}
.footer__subscribe-text {
  color: #949494;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.footer__subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #949494;
  width: 28rem;
}
.footer__subscribe-form input {
  width: 18rem;
  background-color: #1e1e1e;
  border: none;
  color: #fff;
  caret-color: white;
}
.footer__subscribe-form input:focus {
  border: none;
}
.footer__subscribe-form button {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border: none;
  color: #fff;
}
.footer__subscribe-form button::before {
  content: " ";
  height: 20px;
  width: 1px;
  display: inline-block;
  background-color: #949494;
  margin-right: 5px;
}
.footer__column-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .footer__column-c {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 700px) {
  .footer__column-r {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.calendlyReact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90rem;
}

.inline-widget {
  min-width: 32rem;
  width: 70rem;
  height: 80rem;
  scrollbar-width: none;
}

.googCalender {
  height: 70rem;
  color: white;
}
.googCalender__container {
  height: 70rem;
}

.mobileNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
  transition: all 0.3s;
}
.mobileNav__outer {
  position: fixed;
  left: 0;
  top: 4rem;
  z-index: 6;
  width: 200px;
  height: 400px;
  backdrop-filter: blur(8);
  background-color: rgba(44, 60, 100, 0.5);
  border-radius: 8px;
  transform: translateX(-110%);
  transition: all 0.3s;
  z-index: 7;
}
.mobileNav__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.mobileNav__list {
  color: #fff;
  list-style: none;
}
.mobileNav__item {
  padding: 2rem 0 2rem 0;
  text-transform: uppercase;
}
.mobileNav__button {
  position: absolute;
  left: 1.5rem;
  top: 4.5rem;
  width: 30px;
  height: 30px;
  background-color: #fff;
  z-index: 8;
  border-radius: 4px;
}
@media screen and (min-width: 700) {
  .mobileNav__button {
    display: none;
  }
}
.mobileNav__button-icon {
  width: 22px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 10%;
  top: 48%;
  transition: all 0.3s;
}
.mobileNav__button-icon::before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: -5px;
}
.mobileNav__button-icon::after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 5px;
}
.mobileNav__open__button-icon {
  transform: rotate(45deg) translate(0px, 0px);
}
.mobileNav__open__button-icon::before {
  transform: rotate(270deg) translate(-5px, 0px);
}
.mobileNav__open__button-icon::after {
  display: none;
}
.mobileNav__open__outer {
  transform: translateX(0);
}
.mobileNav__open__mobileNav {
  display: unset;
  position: fixed;
  pointer-events: all;
}

/*# sourceMappingURL=globals.css.map */
